.main-page {
  text-align: center;
}

body {
  background-color: #202426;
  padding: 40px;
  margin: 60px;
  background-image: url(../../assets/moviebkg.jpg);
  background-size: cover;
  background-position: center;
}

h1 {
  color: white;
  margin: 0;
}
