.main-page {
  text-align: center;
  display: static;
}

body {
  padding: 40px;
  margin: 60px;
  background-image: url(../../assets/moviebkg.jpg);
  background-size: cover;
  background-position: center;
}

h1 {
  color: white;
  margin: 0;
}

button {
  margin: 5px;
}


