<!-- //Nav Links// -->
<mat-toolbar class="navbar">
  <!-- <div class="search-container">
    <mat-form-field>
      <input matInput placeholder="Search..."[(ngModel)]="searchTerm" (input)="performSearch()"/>
    </mat-form-field>
</div> -->
  <div class="navbar-content">
    <a
      *ngIf="showLink"
      style="text-decoration: none; color: #ebf6f8"
      routerLink="/profile"
    >
      <h2>Profile</h2>
    </a>
    <a
      *ngIf="showLink"
      style="text-decoration: none; color: #ebf6f8"
      routerLink="/movies"
    >
      Movies</a
    >

    <span *ngIf="showLink" class="example-spacer" (click)="logoutUser()"
      >Logout</span
    >
  </div>
  <!-- //burger menu// -->
  <div style="flex-grow: 1"></div>
  <button
    *ngIf="showLink"
    mat-icon-button
    [matMenuTriggerFor]="menu"
    style="color: #ebf6f8"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a *ngIf="showProfileLink" mat-menu-item routerLink="/profile">
      <mat-icon>account_circle</mat-icon>
      <span>Profile</span>
    </a>
    <a *ngIf="showMoviesLink" mat-menu-item routerLink="/movies">
      <mat-icon>local_movies</mat-icon>
      <span>Movies</span>
    </a>
    <button *ngIf="showLogoutLink" mat-menu-item (click)="logoutUser()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
