.navbar {
  position: sticky;
  bottom: 0;
  z-index: 100;
  background-color: #51768c;
  position: relative;

  @media screen and (max-width: 767px) {
    .navbar {
      padding: 0 20px;
    }
  }

  .navbar-content {
    display: flex;
    align-items: center;
    gap: 10px;

    @media screen and (max-width: 767px) {
      .navbar-content {
        display: none; /* Hide the links on small screens */
      }
    }

    .example-spacer {
      color: #ebf6f8;
      cursor: pointer;
    }

    button {
      display: block;
      position: sticky;
      padding: 10px;

      @media screen and (max-width: 767px) {
      }

      @media screen and (max-width: 767px) {
        button {
          display: block;
        }
      }
    }
  }
}
