.movie-page {
  // display: grid;
  // align-items: stretch;
  
  
  // grid-auto-rows: 1fr;
  // max-width: 1280px;
  // min-width: 1280px;
  // margin: auto;
  padding: 40px 20px;
  background-color: #202426;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 40px;
}

.movie-header {
  min-height: 120px;
  background-color: #d5eff2;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.fave-button {
  margin-left: auto;
  color: #d87093;
}

.mdc-card__actions {
  background-color: #d5eff2;
}

.movie-title {
  font-size: 2em;
  font-weight: bold;
  font-family: "Limelight", cursive;
  margin: 0;
}

.mat-mdc-button:not(:disabled) {
  color: #202426;
}

.mat-mdc-button:not(:disabled):hover {
  background-color: #d5eff2;
  color: #202426;
}

html,
body {
  background-color: #51768C;
  display: flex;
}

img {
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .grid-container {
    grid-template-columns: 1fr; /* Single column for smaller screens */
  }

  .navbar {
    position: sticky;
    bottom: 0;
    z-index: 1000;
    background-color: #51768c;
    position: relative;
  
    @media screen and (max-width: 767px) {
      .navbar {
        position: static;
      }
    }
  }
}
