.dialog-container {
  background-color: #d5eff2;
}

.data-content {
  color: black;
  font-weight: bold;
}

.mat-mdc-dialog-actions {
  background-color: #51768c;
}

.mat-mdc-button {
  color: white;
}
