.profile {
  background-color: #ebf6f8;
  grid-template-columns: 1fr;

  @media (min-width: 768px) {
    padding: 50px;
  }
}

p {
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

.profile-form {
  display: grid;
  width: 100%;
  font-weight: bold;
  @media (min-width: 768px) {
  }
}

.profileButtons {
  margin-left: 20px;
  margin-top: 0;
}

.mat-card {
  @media (min-width: 768px) {
  }
}

.movieimage {
  height: 40px;
  display: flexbox;
}
.mdc-text-field--no-label:not(.mdc-text-field--textarea)
  .mat-mdc-form-field-input-control.mdc-text-field__input,
.mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
  font-weight: bold;
}
